@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  overflow: hidden;
}

html {
  overflow: hidden;
}

body {
  width: 380px;
  height: 520px;
  min-height: 520px;
  overflow: hidden;
  background: #09090b;
  color: #ffffff;
}

::-webkit-scrollbar {
  display: none;
}

#react-target {
  width: 100%;
  height: 100%;
  overflow: hidden;
}